@page "/"
@using Enterprise_Applications_Development_1_CA3.wwwroot.Models
@inject Enterprise_Applications_Development_1_CA3.wwwroot.Models.IDaysService DayService


<PageTitle>Index</PageTitle>
<h1>Reeling in the days</h1>
<br/>

<div>
    @if (UsersDays == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <div> class="row"</div>
        @foreach (var item in UsersDays)
        {
            <div class="col-4">
                <div class="card">
                    <img src="@item.ImageUrl"/>
                    <div/>

                </div>
                }
                }
    
            </div>


@code
{
    public List<UsersDay> UsersDays { get; set; }
    public string? Error { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            UsersDays = await DaysService.GetDays();
        }
        catch (Exception e)
        {
            Error = e.Message;
        }
    }
}